# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local
.env
public
app/_test.php
app/_env.php
app/config/database.php
app/crud/uploads/*
!app/crud/uploads/01-andreia.jpg
!app/crud/uploads/02-mary-france.jpg
!app/crud/uploads/03-xiah.jpg
!app/crud/uploads/04-alexa.jpg
!app/crud/uploads/05-gana-eula.jpg
!app/crud/uploads/06-paula.jpg
!app/crud/uploads/07-rhiana.jpg
!app/crud/uploads/08-jyana.jpg
!app/crud/uploads/09-arielle.jpg
!app/crud/uploads/10-pauline.jpg
!app/crud/uploads/11-jilliane.jpg
!app/crud/uploads/12-aliyah.jpg
!app/crud/uploads/no-avatar.jpg
!app/crud/dist
/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Testing
vendor
.phpunit.cache
.phpunit.result.cache
tests/backend/config/test-database.php
